.indexCard {
    margin: 2rem;
}

.indexCardTitle, .indexCardWater, .indexCardCarbon {
    text-decoration: none;
    color: black;
}

.indexLink {
    text-decoration: none;
}

.indexCardBody {
    background-color: #C8E3F6;
}